img {
  height: 35px;
  width: 35px;
}

footer {
  margin: 15px auto 5px auto;
  text-align: center;
}
/*This is the CSS for the OOP version*/

/*.message, .title {
  text-align: center;
}

.container {
  width: 450px;
  height: 450px;
  margin: auto;
  margin-bottom: 20px;
}

.square {
  border: 1px solid black;
  height: 150px;
  width: 150px;
  background-color: grey;
  box-sizing: border-box;
  font-size: 5em;
  text-align: center;
  line-height: 150px;
  float: left;
}

h1{
  color: orange;
}*/

